.landing-page
  .image
    %em
      %img{src: @gravatar_src}
  %ul
    %li.github
      %a{href:'https://github.com/djukami', target:'_blank'} Github
    %li.linkedin
      %a{href:'https://github.com/djukami', target:'_blank'} LinkedIn
    %li.blog
      %a{href:'http://techn.ocr.at', target:'_blank'} Blog
